@yellow: #fffa19;

// compilacion
// en la terminal (lessc css/style2.less css/style2.css
.mixin  margenes ($top: 0px, $bottom:0px){
  margin-top: $top;
  margin-bottom: $bottom;  
}

.footer {
  background: yellow;
 .margenes(50px, 0px )
}