$yellow: #fffa19;
$green: rgb(63, 197, 63);
$red: red;

// definicion de mixin
@mixin  margenes ($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;  
}

.footer {
  background: $yellow;
  @include margenes(50px, 0px )
}